<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Del Rio</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="page">
  <div class="page__wrapper">
    <header class="main-header main-header_innerpage">
      <div class="main-header__top">
        <div class="uk-container">
          <div class="main-header__top-wrapper">
            <div class="main-header__top-left">
              <a class="main-header__logo" href="#" title="Del Rio">
                <img class="main-header__logo-pic" src="../img/logo.svg" alt="">
              </a>
              <ul class="main-header__services">
                <li class="main-header__services-item">Доставка цветов</li>
                <li class="main-header__services-item">Именные связки шаров</li>
              </ul>
            </div>
            <a class="main-header__instagramm main-header__link">
              <svg class="main-header__instagramm-icon" width="15" height="15">
                <use xlink:href="/img/sprite.svg#instagramm"/>
              </svg>
              Мы в Instagram
            </a>
            <a class="main-header__tel main-header__link tel" href="tel:4742746580">
              <svg class="main-header__tel-icon" width="16" height="16">
                <use xlink:href="/img/sprite.svg#tel"/>
              </svg>
              <span class="tel__small-numbers">(4742)</span> 74-65-80
            </a>
            <a class="main-header__cart main-header__link" href="#" aria-label="Корзина">
              <svg class="main-header__cart-icon"  width="20" height="18" >
                <use xlink:href="/img/sprite.svg#cart"/>
              </svg>
              <span class="main-header__cart-text">Корзина</span>
            </a>
            <button class="tel-btn js-tel-btn" data-uk-toggle="target: .js-contacts-block; cls: active" aria-label="Показать контактную информацию">
              <svg class="tel-btn__icon" width="30" height="30">
                <use xlink:href="/img/sprite.svg#tel"/>
              </svg>
            </button>
            <button class="menu-btn js-menu-btn" data-uk-toggle="target: .js-menu-btn, .js-menu; cls: active" aria-label="Показать меню">
              <span class="menu-btn__icon menu-btn__icon-menu" data-uk-icon="icon: menu"></span>
              <span class="menu-btn__icon menu-btn__icon-close" data-uk-icon="icon: close"></span>
            </button>
          </div>
        </div>
      </div>
      <nav class="main-nav js-menu" aria-label="Основное навигационное меню">
        <div class="main-nav__bg"></div>
        <div class="uk-container">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a href="catalog.html" class="main-nav__link">
                <span class="main-nav__link-text">
                  Каталог цветов
                </span>
                <span class="main-nav__link-bg"></span>
              </a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">
                <span class="main-nav__link-text">
                  Мастер-классы
                </span>
                <span class="main-nav__link-bg"></span>
              </a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">
                <span class="main-nav__link-text">
                  Доставка и оплата
                </span>
                <span class="main-nav__link-bg"></span>
              </a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">
                <span class="main-nav__link-text">
                  О нас
                </span>
                <span class="main-nav__link-bg"></span>
              </a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">
                <span class="main-nav__link-text">
                  Новости
                </span>
                <span class="main-nav__link-bg"></span>
              </a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">
                <span class="main-nav__link-text">
                  Контакты
                </span>
                <span class="main-nav__link-bg"></span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="contacts-block js-contacts-block">
        <a class="contacts-block__tel tel" href="tel:4742746580">
          <svg class="contacts-block__tel-icon" width="16" height="16">
            <use xlink:href="/img/sprite.svg#tel"/>
          </svg>
          <span class="tel__small-numbers">(4742)</span> 74-65-80
        </a>
        <a class="contacts-block__instagramm">
          <svg class="contacts-block__instagramm-icon" width="15" height="15">
            <use xlink:href="/img/sprite.svg#instagramm"/>
          </svg>
          Мы в Instagram
        </a>
        <div class="contacts-block__address">
          г. Липецк, ул. Первомайская, 80
        </div>
        <button class="contacts-block__close" data-uk-toggle="target: .js-contacts-block; cls: active" data-uk-icon="icon: close" aria-label="Закрыть контактную информацию"></button>
      </div>
    </header>
    <main class="master-desc innerpage">
      <div class="uk-container">
        <ul class="innerpage__breadcrumb uk-breadcrumb">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Мастер-классы</a></li>
          <li><span>Детский МК “Юный ботаник”</span></li>
        </ul>
        <h1 class="innerpage__title innerpage__title_underlined">
          Детский МК «Юный ботаник»
        </h1>
        <div class="master-desc__box">
          <div class="master-desc__image-container uk-cover-container">
            <img data-uk-cover src="../img/master.jpg" alt="">
          </div>
          <div>
            <div class="master-desc__text">
              <p>У нас отличные новости!</p>
              <p>Новогодние каникулы можно провести в приятной творческой атмосфере, просто заглянув к нам на мастер-класс!</p>      
              <p>Дата проведения: <strong>16 ноября</strong></p>     
              <p>В последнюю субботу уходящего года, мы проведем ещё один мастер-класс «Рождественская композиция со свечами», на котором вы сможете составить красивую композицию из еловых веточек, шариков и другого декора!</p>
            </div>
            <div class="master-desc__price">
              Цена: <span class="master-desc__price-number">3800 <span class="rubl">h</span></span>
            </div>
            <button class="button-link" data-uk-toggle="target: #master-sign">
              <span class="button-link__text">Записаться</span>
              <span class="button-link__bg"></span>
            </button>
          </div>
        </div>
        <section class="masters__section">
            <h2 class="masters__subtitle">Прошедшие мастер-классы</h2>
            <ul class="masters__grid">
              <li>
                <a class="master-card" href="#">
                  <span class="master-card__image uk-cover-container">
                    <img data-uk-cover src="../img/master.jpg" alt=""> 
                  </span>
                  <span class="master-card__content">
                    <span class="master-card__date">
                      16 ноября
                    </span>
                    <h2 class="master-card__title">
                      МАСТЕР КЛАСС я взрослых! Осенний венок!
                    </h2>
                    <span class="master-card__more">Подробнее</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="master-card" href="#">
                  <span class="master-card__image uk-cover-container">
                    <img data-uk-cover src="../img/master.jpg" alt=""> 
                  </span>
                  <span class="master-card__content">
                    <span class="master-card__date">
                      16 ноября
                    </span>
                    <h2 class="master-card__title">
                      МАСТЕР КЛАСС я взрослых! Осенний венок!
                    </h2>
                    <span class="master-card__more">Подробнее</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="master-card" href="#">
                  <span class="master-card__image uk-cover-container">
                    <img data-uk-cover src="../img/master.jpg" alt=""> 
                  </span>
                  <span class="master-card__content">
                    <span class="master-card__date">
                      16 ноября
                    </span>
                    <h2 class="master-card__title">
                      МАСТЕР КЛАСС я взрослых! Осенний венок!
                    </h2>
                    <span class="master-card__more">Подробнее</span>
                  </span>
                </a>
              </li>
              <li>
                <a class="master-card" href="#">
                  <span class="master-card__image uk-cover-container">
                    <img data-uk-cover src="../img/master.jpg" alt=""> 
                  </span>
                  <span class="master-card__content">
                    <span class="master-card__date">
                      16 ноября
                    </span>
                    <h2 class="master-card__title">
                      МАСТЕР КЛАСС я взрослых! Осенний венок!
                    </h2>
                    <span class="master-card__more">Подробнее</span>
                  </span>
                </a>
              </li>
            </ul>
          </section>
      </div>
    </main>
    <footer class="main-footer">
        <div class="uk-container">
          <div class="main-footer__top">
            <nav class="main-footer__footer-nav footer-nav">
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a class="footer-nav__link" href="#">Каталог цветов</a>
                </li>
                <li class="footer-nav__item">
                  <a class="footer-nav__link" href="#">Мастер-классы</a>
                </li>
                <li class="footer-nav__item">
                  <a class="footer-nav__link" href="#">Доставка и оплата</a>
                </li>
                <li class="footer-nav__item">
                  <a class="footer-nav__link" href="#">О нас</a>
                </li>
                <li class="footer-nav__item">
                  <a class="footer-nav__link" href="#">Новости</a>
                </li>
                <li class="footer-nav__item">
                  <a class="footer-nav__link" href="#">Контакты</a>
                </li>
              </ul>
            </nav>
            <a class="main-footer__tel tel" href="tel:4742746580">
              <svg class="main-footer__tel-icon" width="16" height="16">
                <use xlink:href="/img/sprite.svg#tel"/>
              </svg>
              <span class="tel__small-numbers">(4742)</span> 74-65-80
            </a>
          </div>
          <div class="main-footer__bottom">
            <div class="main-footer__owner">
              © Del Rio, 2018
            </div>
            <a class="main-footer__policy" href="#">Политика конфиденциальности</a>
            <a class="main-footer__devs" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="125" height="40" fill="#cacdcf" viewBox="0 0 936 316">
                <path d="M136.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8c3.2-1.7,7.1-0.6,8.8,2.6l36.6,68.2
                  C141.2,192.6,140.1,196.6,136.9,198.3L136.9,198.3z M101.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8
                  l36.6-68.2c1.2-2.2,3.5-3.5,5.9-3.4c0.1,0,0.5,0,0.5,0c0.1,0,0.6,0,0.7,0c0.8,0.1,1,0.4,1.7,0.8
                  C102.1,120.4,103.2,124.4,101.5,127.5z"/>
                <path d="M209.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8l36.6-68.2c1.7-3.2,5.7-4.3,8.8-2.6
                  C210.1,120.4,211.2,124.4,209.5,127.5L209.5,127.5z M168.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8
                  c3.2-1.7,7.1-0.6,8.8,2.6l36.6,68.2C173.2,192.6,172.1,196.6,168.9,198.3L168.9,198.3z"/>
                <path d="M240,128c0,0-12-1.2-12,9c0,8,5.7,10,14,13s15,4.3,20,13c4.2,7.4,4.3,21.1-6,29c-10.7,8.2-26.3,6.8-37,2c-4.5-2-4.2-7.3-3-9
                  s5.8-2.3,10,0s9.7,2.9,14,2c5.3-1.1,12.8-3.2,13-11s-2-10.5-12-14c-9-3.2-25.8-7.8-25-26c0.3-7.4,5.2-13,10.1-15.4
                  c7-3.5,13-3.8,17.9-2.6c3.8,1,17.3,5.7,14,12C253.6,138.5,245.8,128,240,128L240,128z"/>
                <path d="M305,305V11H11v294H305 M316,316H0V0h316V316L316,316L316,316z"/>
                <text style="font-family: 'Open Sans', sans-serif;
                font-size: 110px; fill: #cacdcf;" x="400" y="130">Сделано в</text>
                <text style="font-family: 'Open Sans', sans-serif;
                font-size: 110px; letter-spacing: 3px; fill: #cacdcf;" x="400" y="270" textLength="550">#avsweb</text>
              </svg>
            </a>
          </div>
        </div>
      </footer>
      <div id="master-sign" data-uk-modal>
        <div class="master-sign uk-modal-dialog">
          <form class="master-sign__form">
            <h2 class="master-sign__title">Запись на мастер-класс</h2>
            <div class="master-sign__inner">
              <div class="master-sign__field">
                <label class="master-sign__label">
                  Имя<br>
                  <input class="master-sign__input uk-input" type="text" name="name" required>
                </label>
              </div>
              <div class="master-sign__field">
                <label class="master-sign__label">
                  Телефон<br>
                  <input class="master-sign__input uk-input" type="tel" name="tel" required>
                </label>
              </div>
              <button class="master-sign__submit button-link" type="submit">
                <span class="button-link__text">Отправить</span>
                <span class="button-link__bg"></span>
              </button>
              <div class="master-sign__agreement">
                  Нажимая на кнопку «Отправить»,<br>
                  вы даёте согласие на обработку 
                  <a href="#">персональных данных</a>
              </div>
            </div>
          </form>
          <button class="master-sign__close uk-modal-close" type="button" data-uk-close></button>
        </div>
      </div>
    </div>
    <script src="bundle.js"></script>
  </body>
      
</html>