@font-face {
  font-family: "ALSRubl";
  src: url("../fonts/ALSRubl.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Bold.woff") format("woff"),
    local("Philosopher Bold"), local("Philosopher-Bold");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-BoldItalic.woff") format("woff"),
    local("Philosopher BoldItalic"), local("Philosopher-BoldItalic");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Italic.woff") format("woff"),
    local("Philosopher Italic"), local("Philosopher-Italic");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUI-SemiBold.woff") format("woff"),
    local("SegoeUI SemiBold"), local("SegoeUI-SemiBold");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUI.woff") format("woff"),
    local("SegoeUI"), local("SegoeUI");
  font-weight: normal;
  font-style: normal;
}
