.add-goods {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 32px 50px 17px;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #e6e3e8;
    background-image:
      linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.8)),
      url('../../img/bg-services.jpg');
    background-repeat: no-repeat;
    background-position:
      0 0,
      100% 35%;
    background-size:
      cover,
      cover;
    background-attachment: fixed;
    filter: blur(5px);
  }
}

.add-goods__wrapper {
  position: relative;
  z-index: 2;
}

.add-goods__title {
  margin-bottom: 25px;
  color: #2d2d2d;
  font-family: $font-decor;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.add-goods__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-goods__image {
  margin-bottom: 15px;
}

.add-goods__slider-left-arrow {
  position: absolute;
  top: 26%;
  left: 13px;
}

.add-goods__slider-right-arrow {
  position: absolute;
  top: 26%;
  right: 13px;
}

.add-goods__arrow {
  width: 40px;
  height: 20px;
}

.add-goods__arrow-left {
  position: absolute;
  top: 50%;
  left: -44px;
  transform: rotate(90deg);
}

.add-goods__arrow-right {
  position: absolute;
  top: 50%;
  right: -44px;
  transform: rotate(-90deg);
}
