.announcment {
  position: relative;
  margin: 0 50px 50px;
  @media (max-width: $breakpoint-small) {
    margin: 0 10px 50px;
  }
}

.announcment__inner {
  position: relative;
  z-index: 2;
  min-height: 235px;
  box-sizing: border-box;
  padding: 21px 42px 25px;
  border-left: 3px solid  $theme-color-1;
  border-right: 3px solid $theme-color-1;
  background: #eee url('../img/bg-announcment.jpg') 50% 50% no-repeat;
  background-size: cover;
  text-align: center;
  @media (max-width: $breakpoint-small) {
    width: auto;
  }
}

.announcment__flower-1 {
  position: absolute;
  top: 22px;
  left: -55px;
  z-index: 1;
  width: 55px;
  height: 200px;
  background: url('../img/announcment-flowers-1.png') 50% 50% no-repeat;
  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.announcment__flower-2 {
  position: absolute;
  top: 22px;
  right: -54px;
  z-index: 1;
  width: 55px;
  height: 200px;
  background: url('../img/announcment-flowers-2.png') 50% 50% no-repeat;
  @media (max-width: $breakpoint-small) {
    display: none;
  }
}