.button-action {
  @include reset-btn;
  @include reset-link;
  min-width: 200px;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $theme-color-2;
  cursor: pointer;
  transition: background-color 0.25s;
  text-align: center;
  &:hover {
    background-color: darken($theme-color-2, 5%);
    color: #fff;
    transition: background-color 0.25s;
  }
}
