.catalog-filter {
  margin-bottom: 45px;
  &_adapt {
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-template-columns: 100%;
    grid-gap: 25px;
  }
}

.catalog-filter__list {
  @include reset-list;
  width: 220px;
  margin-bottom: 47px;
}

.catalog-filter__item {
  position: relative;
  &:hover {
    .catalog-filter__link {
      color: $theme-color-2;
    }
    .catalog-filter__flower {
      display: block;
      fill: $theme-color-2;
    }
  }
  &.active {
    .catalog-filter__link {
      color: $theme-color-1;
    }
    .catalog-filter__flower {
      display: block;
      fill: $theme-color-1;
    }
  }
  &:last-child {
    .catalog-filter__link {
      border-bottom: 1px solid #d3d6d5;
    }
  }
}

.catalog-filter__link {
  @include reset-link;
  display: block;
  padding: 8px 25px;
  border-top: 1px solid #d3d6d5;
  color: #343434;
  font-size: 15px;
  line-height: 1;
  &:focus {
    outline: none;
    color: $theme-color-2;
    .catalog-filter__flower {
      display: block;
      fill: $theme-color-2;
    }
  }
}

.catalog-filter__price {
  width: 220px;
  margin-bottom: 25px;
}

.catalog-filter__price-text {
  margin-bottom: 15px;
  color: #7a7a7a;
  font-size: 15px;
  line-height: 1;
}

.catalog-filter__price-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-filter__price-block {
  width: 90px;
}

.catalog-filter__price-label {
  display: block;
  margin-bottom: 5px;
  color: #343434;
  font-size: 14px;
  line-height: 1;
}

.catalog-filter__input {
  height: 35px;
}

.catalog-filter__flower {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.catalog-filter__submit {
  width: 100%;
}