.catalog {

}

.catalog__wrapper {
  display: grid;
  grid-template-columns: 220px auto;
  grid-column-gap: 60px;
}

.catalog__pool {
  display: grid;
  grid-template-columns: repeat(auto-fit, 273px);
  grid-gap: 15px;
}
