.home-intro {
  background: #060709 url('../../img/bg-intro.jpg') 50% 50% no-repeat;
  background-size: cover;
}

.home-intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 866px;
  box-sizing: border-box;
  padding-top: 160px;
}

.home-intro__title {
  margin-bottom: 20px;
  color: #fff;
  font-family: $font-decor;
  font-size: 72px;
  font-weight: 700;
}

.home-intro__decor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.home-intro__flower {
  margin: 0 14px;
}

.home-intro__text {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
}

.home-intro__tape {
  margin-bottom: 20px;
}

.home-intro__button-link {
  min-width: 170px;
}
