.home-catalog {
  padding: 78px 0 69px;
  background-color: #f6f5f5;
}

.home-catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 273px);
  grid-gap: 15px;
}

.home-catalog__more-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 66px;
}
