.innerpage {
  padding: 58px 0 150px;
  background-color: #f6f5f5;
}

.innerpage__title {
  margin-top: 30px;
  color: #202020;
  font-family: $font-decor;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  &_default {
    margin-bottom: 30px;
  }
  &_underlined {
    padding-bottom: 25px;
    margin-bottom: 60px;
    border-bottom: 1px solid #e1e1e1;
  }
}

.innerpage__breadcrumb a {
  border-bottom: 2px solid transparent;
  &:focus {
    outline: none;
    border-bottom: 2px solid $theme-color-1;
  }
}