.master {
  padding: 63px 0 88px;
  background-color: #e6e3e8;
}

.master__title {
  margin-bottom: 45px;
  color: #202020;
  font-family: $font-decor;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.master__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  @media (max-width: $breakpoint-medium) {
    grid-template-columns: repeat(2,minmax(220px,380px));
    & > div:nth-child(3) {
      order: 2;
    }
    & > div:nth-child(2) {
      order: 3;
      grid-column: 1 / 3;
    }
  }
  @media (max-width: $breakpoint-small) {
    grid-template-columns: auto;
    & > div:nth-child(2) {
      grid-column: auto;
    }
  }
}

.master__section-title {
  margin-bottom: 25px;
  font-family: $font-base;
  font-weight: 400;
  color: #686868;
  font-size: 15px;
  text-transform: uppercase;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 10px;
  }
}
