.product__wrapper {
  display: grid;
  grid-template-columns: 220px auto;
  grid-column-gap: 55px;
  margin-top: 60px;
  @media (max-width: $breakpoint-medium) {
    display: block;
    & > div:nth-child(1) {
      display: none;
    }
  }
}

.product__card {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-gap: 30px;
  margin-bottom: 92px;
  @media (max-width: $breakpoint-small) {
    grid-template-columns: auto;
  }
}

.product__photo-wrapper {
  overflow: hidden;
}

.product__photo-container {
  padding-top: 94%;
}

.product__title {
  margin-top: -5px;
  margin-bottom: 18px;
  color: #202020;
  font-family: $font-decor;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
}

.product__desc {
  margin-bottom: 30px;
  font-size: 14px;
  color: #343434;
}

.product__type {
  margin-bottom: 27px;
}

.product__type-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.product__type-input {
  appearance: none;
  &:focus {
    & + .product__type-label {
      outline: 1px solid $theme-color-2;
      outline-offset: 4px;
    }
  }
}

.product__type-input:checked + .product__type-label {
  color: #038a62;
  .product__type-flower {
    fill: #038a62;
  }
}

.product__type-label {
  display: flex;
  align-items: center;
  margin-left: -8px;
  color: #343434;
  font-size: 14px;
  cursor: pointer;
}

.product__type-flower {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  fill: #bababa;
}

.product__price {
  margin-bottom: 10px;
  color: #343434;
  font-family: $font-decor;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
}

.product__button-link {
  min-width: 138px;
}

.product__recomend-title {
  margin-bottom: 30px;
  color: #202020;
  font-family: $font-decor;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
}

.product__recomend-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 273px);
  grid-gap: 15px;
}

.product__buy-form {
  margin-bottom: 10px;
}