.tel {
  @include reset-link;
  font-size: 24px;
  color: #cacdcf;
  white-space: nowrap;
  &:hover {
    color: #fff;
  }
  &:focus {
    outline: 1px solid $theme-color-1;
    color: #fff;
  }
  @media (max-width: $breakpoint-medium) {
    font-size: 18px;
  }
}

.tel__small-numbers {
  position: relative;
  top: -2px;
  align-self: flex-end;
  font-size: 15px;
  @media (max-width: $breakpoint-medium) {
    top: 0;
  }
}
